@import "tailwindcss";

:root {
  --moiz-green: #6A8E2A;
  --moiz-footer: #86A93C;
  --moiz-pink: #C2185B;
  --moiz-yellow: #E6B800;
  --moiz-bg: #F7F6F2;
  --moiz-text: #686868;
}

body {
  background: var(--moiz-bg);
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
}